@import '/home/admin/.cdn/style/style.scss';

#root {
	display: flex;
	flex-wrap: wrap;
	main {
		@include size($wa: 100);
		// @extend %bg-gold;
		overflow: hidden;
	}
}

nav {
	@extend %sticky;
	@extend %ha-100v;
	@include size($w: 2, $wn: 100px, $wx: 100px);

	// @extend %bg-rose;
	overflow: hidden;

	ul > li {
		margin: 3px;
		// background-color: seagreen;
	}

	a {
		text-decoration: none;
		color: $dark;
		font-weight: bold;
		// background-color: $gold;
		&:active,
		&:visited,
		&:link,
		&:hover {
			color: $dark;
		}
	}
}
